<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 offset-sm-3">
				<h1><%= @restaurant.name %></h1>
				<h3>Category: <%= @restaurant.category.capitalize %></h3>
				<h3>Address: <%= @restaurant.address %></h3>
				<h3>Phone: <%= @restaurant.phone_number %></h3>
				<h3>Reviews</h3>
				<ul>
					<% @restaurant.reviews.each do |review|  %>
					<li><%= review.content.capitalize %></li>
					<% end  %>
				</ul>
				<br>
				<%= link_to "Add a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary btn-custom" %>
			</div>
		</div>
	</div>
</div>
